<div class="title">The Show Must Go On!</div>

<div class="centered">
  <div class="upload-btn-wrapper">
    <button class="btn">I want my favorite TV series to last forever!</button>
    <input type="file" name="myfile" (change)="fileChanged($event)" />
  </div>
</div>

<article class="comic">
  <ng-container *ngFor="let transcript of transcripts">
    <div *ngIf="transcript.actor!=''" class="panel boxWidth{{transcript.comicBoxWidth}}  {{transcript.actor}}{{transcript.pictureNumber}}">
      <p *ngIf="transcript.sentence!=''" class="speech">{{transcript.sentence}}</p>
      <p *ngIf="transcript.description!=''" class="text bottom-right">{{transcript.description}}</p>
    </div>
    <div *ngIf="transcript.actor==''" class="panel friends">
      <p class="text top-left">{{transcript.sentence}}</p>
    </div>
  </ng-container>
</article>

<router-outlet></router-outlet>